<p style="color: green"><%= notice %></p>

<%= link_to "Back to projects", projects_path, class: "mb-4" %>

<%= render "project_title", title: @project.title %>

<div class="mb-5 d-flex">
  <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-secondary" %>

  <%= button_to "Destroy this project", @project, method: :delete, class: "btn btn-danger" %>
</div>

<div>
  <h2>Tasks</h2>
  
  <%= render "tasks/tasks", tasks: @project.tasks %>
  
  <div id="form">
    <%= render "tasks/form" %>
  </div>
</div>
