<p style="color: green"><%= notice %></p>

<%= link_to "Back to projects", projects_path %>

<%= render "project_title", title: @project.title %>

<div>
  <%= link_to "Edit Project", edit_project_path(@project) %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<div>
<h2>Tasks</h2>
  <%= render "tasks/tasks", tasks: @project.tasks %>
  
  <div id="form">
    <%= render "tasks/form" %>
  </div>
</div>
